/********** Template CSS **********/
:root {
  --primary: #15233c;
  --secondary: #1fc71f;
  --light: #f7faff;
  --dark: #15233c;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Heading ***/
h1,
h2,
h3,
.fw-bold {
  font-weight: 700 !important;
}

h4,
h5,
h6,
.fw-medium {
  font-weight: 500 !important;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.5s;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}

/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
  position: relative;
  margin-left: 25px;
  padding: 35px 0;
  color: var(--light) !important;
  outline: none;
  transition: 0.5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
  padding: 20px 0;
  color: var(--light) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--secondary) !important;
}

.navbar-light .navbar-brand h1 {
  color: #ffffff;
}

.navbar-light .navbar-brand img {
  max-height: 60px;
  transition: 0.5s;
}

.sticky-top.navbar-light .navbar-brand img {
  max-height: 45px;
}

@media (max-width: 991.98px) {
  .sticky-top.navbar-light {
    position: relative;
    background: #ffffff;
  }

  .navbar-light .navbar-collapse {
    margin-top: 15px;
    border-top: 1px solid #dddddd;
  }

  .navbar-light .navbar-nav .nav-link,
  .sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
    margin-left: 0;
    color: var(--dark) !important;
  }

  .navbar-light .navbar-brand h1 {
    color: var(--primary);
  }

  .navbar-light .navbar-brand img {
    max-height: 45px;
  }
}

@media (min-width: 992px) {
  .navbar-light {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(256, 256, 256, 0.1);
    z-index: 999;
  }

  .sticky-top.navbar-light {
    position: fixed;
    background: #15233c;
  }

  .navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 50%;
    background: var(--secondary);
    transition: 0.5s;
  }

  .navbar-light .navbar-nav .nav-link:hover::before,
  .navbar-light .navbar-nav .nav-link.active::before {
    width: 100%;
    left: 0;
  }

  .navbar-light .navbar-nav .nav-link.nav-contact::before {
    display: none;
  }

  .sticky-top.navbar-light .navbar-brand h1 {
    color: var(--primary);
  }
}

/*** Hero Header ***/
.hero-header {
  background: url(../img/bg-dot.png), url(../img/bg-dot.png),
    url(../img/bg-round.png), url(../img/bg-tree.png),
    url(../img/bg-bottom-hero.png);
  background-position: 10px 10px, bottom 190px right 10px, left 55% top -1px,
    left 45% bottom -1px, center bottom -1px;
  background-repeat: no-repeat;
}

/*** Section Title ***/
.section-title::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 4px;
  bottom: 0;
  left: 0;
  background: var(--dark);
}

.section-title::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  bottom: 0;
  left: 50px;
  background: var(--dark);
}

.section-title.text-center::before {
  left: 50%;
  margin-left: -25px;
}

.section-title.text-center::after {
  left: 50%;
  margin-left: 25px;
}

.section-title h6::before,
.section-title h6::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 2px;
  left: 0;
  background: #15233c;
}

.section-title h6::after {
  top: 5px;
  left: 3px;
}

/*** Service ***/
.service-item {
  position: relative;
  height: 350px;
  padding: 30px 25px;
  background: #15233c;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.service-item:hover {
  background: var(--dark);
}

.service-item .service-icon {
  margin: 0 auto 20px auto;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
  background: url(../img/i) center center no-repeat;
  transition: 0.5s;
}

.service-item:hover .service-icon {
  color: white;
  background: url(../img/icon-shape-white.png);
}

.service-item h5,
.service-item p {
  transition: 0.5s;
}

.service-item:hover h5,
.service-item:hover p {
  color: white;
}

/*** Team ***/
.team-item {
  position: relative;
  padding: 30px;
  text-align: center;
  transition: 0.5s;
  z-index: 1;
}

.team-item::before,
.team-item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 40%;
  top: 0;
  left: 0;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.07);
  transition: 0.5s;
  z-index: -1;
}

.team-item::after {
  top: auto;
  bottom: 0;
}

.team-item:hover::before,
.team-item:hover::after {
  background: var(--primary);
}

.team-item h5,
.team-item p {
  transition: 0.5s;
}

.team-item:hover h5,
.team-item:hover p {
  color: #ffffff;
}

.team-item img {
  padding: 15px;
  border: 1px solid var(--primary);
}

/*** FAQs ***/
.accordion .accordion-item {
  border: none;
  margin-bottom: 15px;
}

.accordion .accordion-button {
  background: var(--light);
  border-radius: 2px;
}

.accordion .accordion-button:not(.collapsed) {
  color: #ffffff;
  background: var(--primary);
  box-shadow: none;
}

.accordion .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion .accordion-body {
  padding: 15px 0 0 0;
}

/*** Footer ***/
.footer {
  background: url(../img/footer.png) center center no-repeat;
  background-size: contain;
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid rgba(256, 256, 256, 0.1);
  border-radius: 40px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
  color: var(--light);
  font-weight: normal;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 14px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

/* Custom CSS to make the second slide image bigger */
.img-container img {
  max-width: 100%;
  height: auto;
  width: 80%; /* Adjust this value to make the image larger */
  animation: zoomIn 1s ease-in-out; /* Apply the zoom-in animation */
}

/* Define the zoom-in animation */
@keyframes zoomIn {
  from {
    transform: scale(0.5); /* Start from 50% size */
    opacity: 0; /* Start with 0 opacity (invisible) */
  }
  to {
    transform: scale(1); /* End at 100% size (original size) */
    opacity: 1; /* End with full opacity (visible) */
  }
}

.carousel-inner .carousel-item {
  height: 700px; /* Set a fixed height for the carousel items */
}

/*** Our Products ***/
@media (min-width: 992px) {
  .container.facts {
    max-width: 100% !important;
    background-color: #15233c !important;
  }

  .container.facts .facts-text {
    padding-left: calc(((100% - 960px) / 2) + 0.75rem);
  }

  .container.facts .facts-counter {
    padding-right: calc(((100% - 960px) / 2) + 0.75rem);
  }
}

@media (min-width: 1200px) {
  .container.facts .facts-text {
    padding-left: calc(((100% - 1140px) / 2) + 0.75rem);
  }

  .container.facts .facts-counter {
    padding-right: calc(((100% - 1140px) / 2) + 0.75rem);
  }
}

@media (min-width: 1400px) {
  .container.facts .facts-text {
    padding-left: calc(((100% - 1320px) / 2) + 0.75rem);
  }

  .container.facts .facts-counter {
    padding-right: calc(((100% - 1320px) / 2) + 0.75rem);
  }
}
.display-6.mb-5 {
  color: #15233c;
}
.mb-0 {
  color: #15233c;
}

/*** Youtube Video ***/
.video {
  position: relative;
  height: 100%;
  min-height: 500px;
  background: linear-gradient(rgb(21, 35, 60), rgba(21, 35, 60));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.col-md-6 {
  .video {
    background-color: white;
  }
}

.video .btn-play {
  display: none; /* Remove the button */
}
/* Add this CSS code to your stylesheet or style section */

/* Apply green color to the carousel control icons */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300ff00' viewBox='0 0 8 8'%3E%3Cpath d='M5.5.5l-3 3 3 3 1.5-1.5L4 4l2-2z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300ff00' viewBox='0 0 8 8'%3E%3Cpath d='M2.5.5l-1.5 1.5 3 3-3 3 1.5 1.5 4-4z'/%3E%3C/svg%3E");
}

.img-container {
  margin-top: -40px; /* Adjust this value to change the position */
}

.custom-container {
  max-width: 10px; /* Adjust this value to set your desired maximum width */
  margin: 0 auto; /* Center the container on the page if needed */
}

.custom-bg-color {
  background-color: #15233c;
  /* Add any additional styling for the container if needed */
  /* padding: 20px; */
}
.custom-header {
  background-color: #15233c;
  color: white;
  font-weight: bold;
  padding-top: -5px;
}

.slick-list {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 0;
}
.slick-list .slick-slide {
  font-size: 30px;
  text-align: center;
  padding: 40px 20px;
  line-height: 2;
  font-weight: 700;
}
.slick-list .slick-slide:nth-child(even) {
  background-color: #ddd;
}
.slick-list .slick-slide:nth-child(odd) {
  background-color: #ccc;
}
.slick-arrow {
  z-index: 1;
  width: 40px;
  height: 40px;
}

.slick-arrow:before {
  font-size: 30px;
}
.slick-next {
  right: 0;
}
.slick-prev {
  left: 0;
}

.btn-wrap {
  text-align: center;
  width: 100%;
}
button {
  background-color: #ddd;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.5s;
}
button.slick-disabled {
  opacity: 0.6;
}

/* Custom CSS for adding indentation to all lines of text */
.accordion-body {
  text-indent: 40px; /* Adjust the value as needed for desired indentation */
  text-align: center;
}
